body {
  background-color: turquoise;
  color: black;
  font-family: Arial;
}

.title {
  font-size: 48px;
}

header,
section,
footer {
  padding: 10px;
}

h1 {
  color: white;
  text-decoration:underline;
}

h2 {
  color: white
}

h3 {
  color: black;
}
body {
  margin: 50px;
  border: 1px solid Black;
}


li,
ol{
  line-height: 1.6;
}
a:link,
a:focus,
a:active{
  color:Magenta;
}
a:visited {
  color: Purple;

}

.AllImages {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.class {
  padding: 15px;
}
.box {
  border: 1px solid black;
  padding: 30px;
}
.box p {
  font-size: 24px;
}
/*
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  /* border:1px solid red;*/

div {
  margin: 0 auto;
}

/*

body {
  background-image: url(Images/banner3.png);
}
section {
  border: 1px solid grey
  background-color: turquoise;
  margin: 30px;
  padding: 30px;
}
*/
