body {
  background-color:turquoise;
  color: black;
  font-family: 'Noto Serif TC', Georgia;
}
h1 {
  color: white;
}

h2 {
  color: white;
}
/* Website Styles */

*{
  font-size: 75%
}
body {
  background-color: grey;
  color: black;
}
